.responsebar {
    height: 100vh;
    width: 150px;
    background-color: #656567;
    overflow-y: auto;
}

.responsebar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.responsebar button {
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    min-width: 200px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #656567;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

/* Optional: Add hover effect */
.responsebar button:hover {
    background-color: #b9bab9;
    color: black;
}

.responsebar button.clicked {
    background: #b9bab9;
    color: black
}

.responsebar button.loading {
    background: linear-gradient(270deg, #8a8a8a, #b9bab9, #8a8a8a);
    background-size: 600% 600%;
    animation: loadingGradientShift 3s ease infinite;
    color: black;  /* Make sure text stays readable */
}

@keyframes loadingGradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

